*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

h1{font-size: 3.5em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1.25em;}
ul{list-style: none;}
li{font-size: 1.25em;}
img{max-width: 250px; max-height: 250px; padding: 25px 30px;}

body{
    font-family: 'Roboto',sans-serif;
    margin: 0;
}

button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 50px;
    border: 1px solid gray;
    box-shadow: 2px 2px 10px black;
    color: goldenrod;
    background-color: darkred;
}

button:hover{
    background-color: rgb(94, 1, 1);
    color: rgb(231, 181, 54);
}

.container{
    max-width: 1400px;
    margin: auto;
}

.color-acento{
    color: darkred;
}

header{
    background: rgb(30,30,30);
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: whitesmoke ;
}

header a:hover{
    color: darkred;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    text-shadow: 0.1em 0.1em 0.2em black;
    background-image:url(imagenes/enciende-tu-juego.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1{
    color: white;
}

#somos-ganiccus .container{
    text-align: center;
    padding: 200px 12px;
}

#proximas-expansiones{
    background-color: darkred;
    color: white;
    text-align: center;
}

#proximas-expansiones .container{
padding: 150px 12px;
}

#proximas-expansiones h2{
    margin-top: 0;
    font-size: 3.2em;
}

#proximas-expansiones p{
    display: none;
    text-shadow: 0.1em 0.1em 0.2em black;
}

#proximas-expansiones .carta{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 50px;
    margin: 30px;
    border-radius: 15px;
}

.carta:first-child{
    background-image:linear-gradient(
        0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
      ) ,url(imagenes/beware-of-traptrix.png);
}  

.carta:nth-child(2){
    background-image:linear-gradient(
        0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
      ) ,url(imagenes/photon-hypernova.png);
}

.carta:last-child{
    background-image:linear-gradient(
        0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
      ) ,url(imagenes/speed-duel-gx-duelist-of-shadows.png);
}

#caracteristicas .container{
    text-align: center;
    padding: 200px 10px;
}

#caracteristicas li{
    margin: 16px 0px;
    font-weight: bold;
}

#singles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(30,30,30);
    color: white;
    height: 80vh;
}

#singles h2{
    font-size: 9vw;
}

#singles .button{
    font-size: 3vw;
}

footer{
    background-color: rgb(230,230,230);
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100,100,100);
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (min-width:720px){
    header{
        position: fixed;
        width: 100%;
    }
    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #hero h1{
        font-size: 5em;
    }

    #somos-ganiccus .container{
        display: flex;
        justify-content: space-evenly;
    }

    #somos-ganiccus .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    #somos-ganiccus h2{
        margin-top: 0px;
        font-size: 4em;
    }

    #somos-ganiccus .img-container{
        background-image:url(imagenes/somos-ganiccus.png);
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px;
    }

    #proximas-expansiones .expansiones{
        display: flex;
        justify-content: center;
    }

    #proximas-expansiones p{
        display: block;
        margin-bottom: 30px;
    }

    #proximas-expansiones h3{
        margin-top: 0;
    }

    #proximas-expansiones .carta{
        padding: 50x;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgba(50,50,50,0.5);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }

    #caracteristicas{
        background-image: url(imagenes/kuriboh.png);
        background-repeat: no-repeat;
        background-position: calc(100vw - 300px) 100px;
    }

    #caracteristicas .container{
        text-align: initial;
    }

    #caracteristicas ul{
        margin-left: 100px;
    }

    #singles h2{
        font-size: 4em;
    }

    #singles .button{
        font-size: 3em;
    }
    
    footer .container{
        justify-content: flex-end;
    }
}

@media (min-width: 1200px){
    #caracteristicas{
        background-position-x: calc(100vw - 800px);
    }
}